doctype html
html
  head
    meta(charset='utf-8')
    title Task-Master
    link(rel='stylesheet', href='/css/style.css')
  body
    .wrapper
      h1 Task Master
      nav
        ul
          li: a(href='/tasks') Tasks
          li: a(href='/tasks/new') Add Task
          li: a(href='/priorities') Priorities
          li: a(href='/priorities/new') New Priority
      .content
        block content
